<mat-card class="home-content">
  <mat-card-header>
    <mat-card-title class="forum-container-title">Add new University</mat-card-title>
  </mat-card-header>


  <form [formGroup]="form">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>University Name</mat-label>
        <input matInput placeholder="Enter name" formControlName="name">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of Establishment" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-select placeholder="Choose University Address" [formControl]="address" [(ngModel)]="selectedOption" (selectionChange)="setCityCountry($event.value)">
          <mat-option *ngFor="let a of address;" [value]="a">{{a.street}}-broj:{{a.number}}</mat-option>
          <a routerLink="/admin-panel/add-address">
          <mat-option value="option">Add New Address</mat-option>
        </a>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>City</mat-label>
        <input matInput placeholder="Enter name" formControlName="city" [(ngModel)]="place" disabled="true">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Enter name" formControlName="country" [(ngModel)]="country"  disabled="true">
      </mat-form-field>
    </p>

    
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>University Rektor</mat-label>
        <input matInput placeholder="Enter name" formControlName="rektor" [(ngModel)]="rektor">
      </mat-form-field>
    </p>

    <mat-card-actions class="login-btn-cotainer">
      <button mat-raised-button (click)="onSubmit()" color="primary" class="login-btn">Add University</button>
    </mat-card-actions>

  </form>


</mat-card>