<mat-card class="home-content">
    <mat-card-header>
      <mat-card-title class="forum-container-title">Add new Faculty</mat-card-title>
    </mat-card-header>
  
  
    <form [formGroup]="form">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Faculty Name</mat-label>
          <input matInput placeholder="Enter name" formControlName="name">
        </mat-form-field>
      </p>
  
      <p>
          <mat-form-field >
              <mat-label>Faculty Description</mat-label>
              <textarea matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        formControlName="description"></textarea>
            </mat-form-field>
      </p>

      <p>
          <mat-form-field>
            <mat-select placeholder="This Faculty belongs to the university" [formControl]="university"  [(value)]="selectedUniversity"  >
              <mat-option *ngFor="let u of university;" [value]="u.id">{{u.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      <p>
        <mat-form-field>
          <mat-select placeholder="Choose Faculty Address" [formControl]="address" [(ngModel)]="selectedOption" (selectionChange)="setCityCountry($event.value)">
            <mat-option *ngFor="let a of address;" [value]="a">{{a.street}}-broj:{{a.number}}</mat-option>
            <a routerLink="/admin-panel/add-address">
            <mat-option value="option">Add New Address</mat-option>
          </a>
          </mat-select>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>City</mat-label>
          <input matInput placeholder="Enter name" formControlName="city" [(ngModel)]="city" disabled="true">
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Enter name" formControlName="country" [(ngModel)]="country" disabled="true">
        </mat-form-field>
      </p>
  
      
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Faculty Dean</mat-label>
          <input matInput placeholder="Enter name" formControlName="dean" [(ngModel)]="dean">
        </mat-form-field>
      </p>
  
      <mat-card-actions class="login-btn-cotainer">
        <button mat-raised-button (click)="onSubmit(selectedUniversity)" color="primary" class="login-btn">Add Faculty</button>
      </mat-card-actions>
  
    </form>
  
  
  </mat-card>