<mat-card class="home-content">
  <mat-card-header>
    <mat-card-title class="label-register">User Management</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Students">
        <table mat-table [dataSource]="students">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let student">{{student.id}}</td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let student">{{student.firstName}}</td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let student">{{student.lastName}}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let student">{{student.email}}</td>
          </ng-container>

          <ng-container matColumnDef="cardNumber">
            <th mat-header-cell *matHeaderCellDef>Index</th>
            <td mat-cell *matCellDef="let student">{{student.cardNumber}}</td>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>

        </table>
      </mat-tab>
      <mat-tab label="Teachers">
        <table mat-table [dataSource]="teachers">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let teacher">{{teacher.id}}</td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let teacher">{{teacher.firstName}}</td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let teacher">{{teacher.lastName}}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let teacher">{{teacher.email}}</td>
          </ng-container>

          <ng-container matColumnDef="personalIdentificationNumber">
            <th mat-header-cell *matHeaderCellDef>Peronsal ID</th>
            <td mat-cell *matCellDef="let teacher">{{teacher.personalIdentificationNumber}}</td>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>

        </table>
      </mat-tab>
      <mat-tab label="Administrative">
        <table mat-table [dataSource]="administrative">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let administration">{{administration.id}}</td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let administration">{{administration.firstName}}</td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let administration">{{administration.lastName}}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let administration">{{administration.email}}</td>
          </ng-container>

          <ng-container matColumnDef="personalIdentificationNumber">
            <th mat-header-cell *matHeaderCellDef>Peronsal ID</th>
            <td mat-cell *matCellDef="let administration">{{administration.personalIdentificationNumber}}</td>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>

        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>