<mat-card class="home-content">
  <mat-card-header>
    <mat-card-title class="label-register">Register a New User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="roleForm">
        <form [formGroup]="roleForm">
          <ng-template matStepLabel>Role</ng-template>
          <mat-radio-group formControlName="role" [(ngModel)]="role">
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
              <div *ngFor="let role of roles">
                <mat-card>
                  <img src="../../assets/images/{{role}}.png" class="user-type-image">
                  <mat-radio-button [value]="role">{{role}}</mat-radio-button>
                </mat-card>
              </div>
            </div>
          </mat-radio-group>
        </form>
      </mat-step>
      <mat-step [stepControl]="addressForm">
        <form [formGroup]="addressForm">
          <ng-template matStepLabel>Address</ng-template>
          <mat-form-field class="register-input">
            <input matInput placeholder="Street name" formControlName="street" name="street" required>
            <mat-error
              *ngIf="addressForm.controls.street.hasError('required') && addressForm.controls.street.touched && !addressForm.submitted">
              You must enter a value</mat-error>
          </mat-form-field>
          <mat-form-field class="register-input">
            <mat-label>Place</mat-label>
            <mat-select formControlName="place">
              <mat-option *ngFor="let place of places" [value]="place">
                {{place.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="register-input">
            <input matInput placeholder="Number of street" formControlName="number" name="number" required>
            <mat-error
              *ngIf="addressForm.controls.number.hasError('required') && addressForm.controls.number.touched && !addressForm.submitted">
              You must enter a value</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext (click)="addressSubmit()">Submit</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="studentForm">
        <form [formGroup]="studentForm">
          <ng-template matStepLabel>User Info</ng-template>
          <h2 class="form-title">General Info</h2>
          <mat-form-field class="register-input">
            <input matInput placeholder="Name" formControlName="firstName" name="name" required>
            <mat-error
              *ngIf="studentForm.controls.firstName.hasError('required') && studentForm.controls.firstName.touched && !studentForm.submitted">
              You must enter a value</mat-error>
          </mat-form-field>
          <mat-form-field class="register-input">
            <input matInput placeholder="Last name" formControlName="lastName" name="lastname" required>
            <mat-error
              *ngIf="studentForm.controls.lastName.hasError('required') && studentForm.controls.lastName.touched && !studentForm.submitted">
              You must enter a value</mat-error>
          </mat-form-field>
          <h2 class="form-title">Login Info</h2>
          <mat-form-field class="register-input">
            <input matInput placeholder="Username" formControlName="username" name="username" required>
            <mat-error
              *ngIf="studentForm.controls.username.hasError('required') && studentForm.controls.username.touched && !studentForm.submitted">
              You must enter a value</mat-error>
            <mat-error *ngIf="studentForm.controls.username.hasError('minLength')">
              Username must contain 6 or more characters</mat-error>
          </mat-form-field>
          <mat-form-field class="register-input">
            <input matInput placeholder="Password" formControlName="password" type="password" name="password" required
              [type]="hide ? 'password' : 'text'">
            <mat-error
              *ngIf="studentForm.controls.password.hasError('required') && studentForm.controls.password.touched && !studentForm.submitted">
              You must enter a value</mat-error>
            <mat-error *ngIf="studentForm.controls.password.hasError('minLength')">
              Password must contain 8 or more characters</mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <mat-form-field class="register-input">
            <input matInput placeholder="Re-enter password" formControlName="confirmPassword" type="password"
              name="password" required [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher">
            <mat-error
              *ngIf="studentForm.controls.confirmPassword.hasError('required') && studentForm.controls.confirmPassword.touched && !studentForm.submitted">
              You must enter a value</mat-error>
            <mat-error *ngIf="studentForm.hasError('notSame')">
              Passwords do not match
            </mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <mat-form-field class="register-input">
            <input matInput placeholder="Email" formControlName="email" type="email" name="email" required>
            <mat-error
              *ngIf="studentForm.controls.email.hasError('required') && studentForm.controls.email.touched && !studentForm.submitted">
              You must enter a value</mat-error>
            <mat-error *ngIf="studentForm.controls.email.hasError('email')">
              You must enter a valid email</mat-error>
          </mat-form-field>
          <mat-form-field class="register-input">
            <input matInput placeholder="Card number" formControlName="cardNumber" type="text" name="cardNumber"
              required>
            <mat-error
              *ngIf="studentForm.controls.cardNumber.hasError('required') && studentForm.controls.cardNumber.touched && !studentForm.submitted">
              You must enter a value</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext (click)="userSubmit()">Submit</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>