.faculty-row-container{
  position: absolute;
  margin: 4%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

mat-card-header.text{

  margin-top:10px;
}
mat-card.facultyTile{
  border-radius: 5%;
  width: 18%;
  height: 40%;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

a{
  text-decoration: none;
}

mat-grid-list{
  padding: 0px !important;
}

mat-grid-tile{
  height: 50% !important;
}

agm-map{
  height: 400px;
}

.facultyDescription{
  font-size: 16px;
  text-align: center;
  margin: 0px;
}

.material-link{

}

.faculty-image{
  margin-top: 1%;
  width: 50%;
  height: 50%;
}

.uni-container{
  padding: 20px;
  margin-top: 1.6vw;
}